:root {
  --main-color: pink;
  --dark-main-color: rgb(234, 176, 186);
  --text-color: #212529;
}

html, body {
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

main img {
  margin-bottom: 8px;
}