{{ define "main" }}
<main id="_default-list">
  <section>
    <ul id="list" class="pl0">
      {{ range .Data.Pages.ByDate.Reverse }}
      <li class="list pl0 lh-copy">
        <a href="{{ .Permalink}}">{{ .Title }}</a>
        <span>{{ .Date.Format "January 2, 2006" }}</span>
      </li>
      {{ end }}
    </ul>
  </section>

  <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
  </nav>

  <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
      <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
      <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
      <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
    </ul>
  </nav>

</main>
{{ end }}