<header class="header">  
  <!-- ナビゲーション -->
  <nav class="navbar bg-primary p-3">
    <a class="navvar-brand" href="{{ .Site.BaseURL }}">
      <img class="is-rounded" src="{{ .Site.Params.LogoImage }}">
    </a>
    <a class="navbar-item mx-auto fs-3 text-decoration-none text-dark" href="{{ .Site.BaseURL }}">
      <span>{{ .Site.Title }}</span>
    </a>
  </nav>

  <!-- トップイメージ -->
  <div id="header-image" style="max-height: 600px;">
    <img src="{{ .Site.Params.HeaderImage | relURL }}" style="max-height: 600px;">
  </div>

  <!-- メニュー -->
  <nav id="menu" class="border-bottom border-primary border-4 pt-3 position-relative" style="overflow-x: auto;">
    <ul class="d-flex justify-content-start ps-4" style="list-style: none; margin-right: auto;">
      {{ range .Site.Menus.main.ByWeight }}
        <li class="mx-2">
          <a class="btn btn-primary" href="{{ .URL | relURL }}" style="white-space: nowrap;">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>

  <!-- パンくずリスト -->
  <nav class="p-3 ms-3">
    <ol class="breadcrumb mb-0" style="--bs-breadcrumb-divider: '>';">
      {{- template "breadcrumb" (dict "node" . "start" .) }}
    </ul>
  </nav>
</header>

