<header class="header">  
  <!-- ナビゲーション -->
  <nav class="navbar p-2" style="background-color: var(--main-color); border-bottom: 4px solid var(--dark-main-color);">
    <a class="navvar-brand" href="{{ .Site.BaseURL }}">
      <img class="is-rounded" src="https://via.placeholder.com/40x40">
    </a>
    <a class="navbar-item" href="{{ .Site.BaseURL  }}" style="margin: 0 auto; text-decoration: none; color: var(--text-color); box-sizing: border-box;">
      {{ .Site.Title }}
    </a>
  </nav>

  <!-- トップイメージ -->
  <img src="https://via.placeholder.com/1600x800" alt="">

  <!-- メニュー -->
  <nav id="menu" class="d-flex justify-content-between p-3" style="border-bottom: 4px solid var(--dark-main-color);">
    <div class="m-1">
      <span class="p-3"><a>TOP</a></span>
      <span class="p-3"><a>漫画</a></span>
      <span class="p-3"><a>ブログ</a></span>
      <span class="p-3"><a>プロフィール</a></span>
      <span class="p-3"><a>お問い合わせ</a></span>
    </div>
    <div class="m-1">
      <span class="p-3"><a>フォロー</a></span>
    </div>
  </nav>

  <!-- パンくずリスト -->
  <nav class="p-3">
    <ul class="breadcrumb mb-0" style="--bs-breadcrumb-divider: '>';">
      <li class="breadcrumb-item"><a href="{{ .Site.BaseURL  }}">{{ .Site.Title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ul>
  </nav>
</header>

