<div class="position-sticky p-3" style="top: 2rem;">
  <div class="card">
    <div class="card-header">About</div>
    <div class="card-body">
      <p>プロフィーる</p> 
      <img class="rounded-1" src="https://via.placeholder.com/400x400">
    </div>
  </div>

  <div class="card" style="margin-top: 20px;">
    <div class="card-body">
      <h2 class="card-title">About</h2>
      <p class="card-text">プロフィーる</p> 
    </div>
  </div>

  <div class="card" style="margin-top: 20px;">
    <div class="card-body">
      <h2 class="card-title">About</h2>
      <p class="card-text">プロフィーる</p> 
    </div>
  </div>
</div>
